.Input {
  height: 27px;
  width: 130px;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  margin: 0 5px;
  padding: 5px;
  box-sizing: border-box;
  outline-color: #cfcfb3;
  
  &.Invalid {
    border-color: #ff0000;
  }
}
