.Footer {
  margin: 20px auto 0;
  color: #6f5e50;
  font-size: 0.9em;
  background-color: #f3ead9;
  border-top: 1px solid #808080;
  
  .Rights {
    display: flex;
    justify-content: center;
  }
}
